:root {
    --size: 2.5em;
}

* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    outline: none;
}

body {
    display: flex;
    height: 100vh;
    width: 100%;
    background: url(./image/background.png) no-repeat;
    background-position: center;
    background-size: cover;
    -ms-flex-direction: column;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-y: hidden;
}

/* gameStarter */

#game-starter {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#game {
    width: 100%;
    height: 100vh;
    display: none;
    justify-content: center;
    align-items: center;
    row-gap: 4vh;
    -ms-flex-direction: column;
    flex-direction: column;
}

#go-back {
    font-size: 1.5em;
    font-family: monospace;
    font-weight: bold;
    text-align: center;
    width: max(200px, 20vw);
    height: 8vh;
    border: none;
    border-radius: 20px;
    background: #B90F0F;
    transition: 0.2s ease-in-out;
}

#textAlert {
    color: red; 
    text-align: center;
}

/* index page style */

#container {
    width: 40vw;
    height: 50%;
    border-radius: 10px;
    border: 1px solid #FFF;
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    display: flex;
    justify-content: center;
    align-items: center;
    -ms-flex-direction: column;
    flex-direction: column;
    row-gap: 2vh;
}

#container h1 {
    color: #FFF;
    font-size: 2em;
    font-family: monospace;
}

.input {
    width: 90%;
    height: 6vh;
    border: none;
    border-radius: 10px;
    font-size: 1.4em;
    font-family: monospace;
    font-weight: bold;
    text-indent: 7%;
    border: 1px solid #FFF;
    color: #FFF;    
    background: transparent;
}

.input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.input::placeholder {
    color: #FFF;
}

#game-start {
    text-indent: 0;
    background: #FFA500;
    color: #048804;
    font-size: 2em;
    margin-bottom: 50px;
    border: none;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}


#playerAlert {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background: #FFFFFF3A;
    display: none;
    justify-content: center;
    align-items: flex-start;
    overflow: hidden;
}

/* Game style */

#player-name {
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: -1;
}

#player1Name {
    text-align: center;
    font-size: 1.4em;
    font-weight: bold;
    color: #FFF;
}

#player2Name {
    text-align: center;
    font-size: 1.4em;
    font-weight: bold;
    color: #FFF;
}

img {
    width: 60px;
}

#window {
    display: flex;
    width: 300px;
    height: 300px;
    align-items: center;
}

#BUTTON-SECTION {
    display: -ms-grid;
    display: grid;
    width: 100vw;
    height: 80vh;
    justify-content: center;
    align-content: center;
    grid-template-columns: repeat(3, auto);
}

#GAME-BLOCKER {
    position: absolute;
    display: none;
    width: 300px;
    height: 300px;
    background: #00678888;
    justify-content: center;
}

#ALERT-TEXT {
    font-size: 45px;
    font-weight: bolder;
    font-family: monospace;
}

.XO {
    width: var(--size);
    height: var(--size);
    background: transparent;
    font-size: 40px;
    font-weight: bold;
    border-color: #FFF;
    border-style: solid;
    transition: 0.5s;
}

.XO:nth-child(1) {
    border-width: 0 3px 3px 0;
}

.XO:nth-child(2) {
    border-width: 0 0 3px 0;
}

.XO:nth-child(3) {
    border-width: 0 0 3px 3px;
}

.XO:nth-child(4) {
    border-width: 0 3px 0 0;
}

.XO:nth-child(5) {
    border: none;
}

.XO:nth-child(6) {
    border-width: 0 0 0 3px;
}

.XO:nth-child(7) {
    border-width: 3px 3px 0 0;
}

.XO:nth-child(8) {
    border-width: 3px 0 0 0;
}

.XO:nth-child(9) {
    border-width: 3px 0 0 3px;
}

.player-icon {
    display: none;
}

#GAMEPOSITION {
    display: flex;
    width: 300px;
}

.player-score {
    text-align: center;
    width: 40px;
    margin-right: 90px;
    font-size: 20px;
    font-weight: bold;
}

.score-x {
    color: #01C9E4;
}

.score-o {
    color: #1F1D88;
}

.score-tie {
    color: #555;
}

#GAME-CONTROL {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 500px;
    height: 100px;
}

.control-button {
    border: none;
    background: #3232B9;
    box-shadow: 0 10px 2px #222296;
    color: #FFF;
    border-radius: 30px;
    font-size: 20px;
    font-weight: bold;
    width: 120px;
    height: 70px;
    transition: 0.5s;
}

@media screen and (min-width: 768px) {
    #go-back:hover {
        color: #FFF;
        background: #EE3737;
    }

    #game-start:hover {
        background: #A86D00;
        color: #FFF;
    }

    .XO:hover {
        background: #FFFFFF9C;
    }

    .control-button:hover {
        background: #141269;
        box-shadow: 0 10px 2px #3232B9;
    }

}

@media screen and (max-width: 768px) {
    #container {
        width: 80vw;
    }
    
    #player-name {
        width: 80%;
    }

    #textAlert {
        font-size: 2em;
    }

    #go-back:active {
        color: #FFF;
        background: #EE3737;
    }

    #game-start:active {
        background: #A86D00;
        color: #FFF;
    }

    .XO:active {
        background: #FFFFFF9C;
    }

    .control-button:active {
        background: #141269;
        box-shadow: 0 10px 2px #3232B9;
    }
}
